@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/placeholders";

@import "base/reset";
@import "base/typography";

@import "layout/header";
@import "layout/welcome";
@import "layout/accroche";
@import "layout/menu";
@import "layout/preparations";
@import "layout/form";
@import "layout/footer";

@import "components/nav";
@import "components/buttons";
@import "components/inputs";

body {
    background-color: $clr-primary-bg;
    width: 100vw;
    overflow-x: hidden;
}

.header,
section {
    max-width: 100vw;
    min-height: 100vh;

    @media screen and (max-width: 768px) {
        min-height: auto;
    }
}
