.form {
    background-image: url("../../assets/61842.png");
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 48px;
    padding: 32px;

    @media screen and (max-width: 992px) {
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 32px;
    }

    &__left {
        position: relative;
        width: 100%;
        height: 100%;
        @include display-flex($justify: center, $align: center);

        img {
            max-width: 25em;
            max-height: 25em;
            object-fit: cover;

            @media screen and (max-width: 768px) {
                max-width: 16em;
                max-height: 16em;
            }
        }

        .line {
            background-color: $clr-primary-bg;
            position: absolute;
        }

        .line-horizontal {
            width: 25em;
            height: 10px;

            @media screen and (max-width: 768px) {
                width: 16em;
                height: 10px;
            }
        }

        .line-vertical {
            width: 10px;
            height: 25em;

            @media screen and (max-width: 768px) {
                width: 10px;
                height: 16em;
            }
        }
    }

    &__right {
        @include display-flex(
            $direction: column,
            $justify: flex-start,
            $align: start
        );
        gap: 16px;

        .heading-form {
            width: 100%;
            @include display-flex($direction: column, $align: start);
            gap: 16px;

            @media screen and (max-width: 768px) {
                align-items: center;
                text-align: center;
            }

            h2 {
                color: $brand-color;
            }
        }

        form {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 24px;
            row-gap: 24px;
            container-name: form;
            container-type: inline-size;

            @media screen and (max-width: 768px) {
                row-gap: 16px;
            }

            .form-input {
                @include display-flex($direction: column, $align: flex-start);
                gap: 4px;

                @container form (max-width: 576px) {
                    grid-column: span 2;
                }
            }

            .span {
                grid-column: span 2;
            }

            .form-input-button {
                @include display-flex($justify: center);

                @media screen and (max-width: 768px) {
                    padding-top: 16px;
                }
            }
        }
    }
}
