.header {
    position: relative;
    z-index: 9;
    background: linear-gradient(
            to right,
            rgba(96, 160, 216, 0.62),
            rgba(179, 210, 52, 0.62)
        ),
        url("../../assets/Header_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    @include display-flex($direction: column, $justify: space-between);
    align-content: space-between;
    padding: 24px 48px 48px 48px;

    .background-opacity {
        position: absolute;
        z-index: 7;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .tagline {
        z-index: 8;
        position: relative;
        @include display-flex($direction: column);
        gap: 8px;

        &__title {
            color: $clr-primary-text;
        }

        &__subtitle {
            position: absolute;
            right: -20%;
            bottom: -20%;
            rotate: -9deg;
            color: $clr-primary-text;
            font-weight: 500;

            @media screen and (max-width: 768px) {
                right: -10%;
                bottom: -3 0%;
            }
        }
    }

    .socials {
        z-index: 8;
        @include display-flex($justify: flex-start);
        gap: 16px;
        align-self: flex-end;

        &__icon {
            width: 32px;
            height: 32px;
        }
    }
}
