section.menu {
    background-image: url("../../assets/pattern.png");
    background-repeat: repeat;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "heading-section heading-section"
        "left-section right-section";
    row-gap: 32px;
    column-gap: 64px;
    padding: 48px 96px;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "heading-section"
            "left-section"
            "right-section";
        padding: 48px 32px;
    }

    .heading-section {
        grid-area: heading-section;
        justify-self: center;
        width: 80%;
        @include display-flex($direction: column);
        gap: 16px;

        @media screen and (max-width: 768px) {
            width: 100%;
            text-align: center;            
        }

        h2 {
            color: $brand-color;
        }

        p {
            text-align: center;
        }
    }

    & > div {
        @include display-flex($direction: column);
    }

    .left-section {
        grid-area: left-section;
        gap: 32px;

        @media screen and (max-width: 768px) {
            gap: 16px;
        }

        .menu-group {
            width: 100%;
            @include display-flex($direction: column, $align: flex-start);
            gap: 4px;
            padding: 4px;

            @media screen and (max-width: 768px) {
            }
            
            &__header {
                width: 100%;
                @include display-flex($justify: space-between);
                
                @media screen and (max-width: 768px) {
                    flex-direction: row;
                    flex-wrap: wrap;
                }

                h4 {
                    font-size: calc($size * 1.3);
                    color: $brand-color;
                    white-space: nowrap;
                }
            }
        }

        .menu-group-special {
            position: relative;
            border: 1px solid $brand-color;

            .best-seller {
                height: 24px;
                position: absolute;
                top: -24px;
                right: 0;
                background-color: $brand-color;
                @include display-flex();
                padding-inline: 8px;

                h5 {
                    color: $white;
                    font-weight: 300;
                    font-size: calc($size / 1.5);
                }
            }
        }
    }

    .right-section {
        grid-area: right-section;
        gap: 96px;

        @media screen and (max-width: 768px) {
            gap: 32px;
        }

        .texts-rotated {
            @include display-flex($direction: column);

            h3 {
                font-size: calc($size * 3);
                rotate: -9deg;

                @media screen and (max-width: 768px) {
                    font-size: calc($size * 2);
                }
            }

            .title-green {
                color: $brand-color;
            }

            .title-blue {
                color: $secondary-brand-color;
            }
        }

        p {
            text-align: center;
        }
    }
}
