@use "../abstracts/mixins" as *;

.menu {
    width: 100%;
    @include display-flex($justify: space-between);
    z-index: 10;

    &__logo {
        width: 180px;
    }

    &__list {
        @include display-flex($justify: flex-start);
        gap: 48px;  
    }
}
