.preparations {
    background-image: url("../../assets/louis-hansel-MlPD-AzZYMg-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 128px 64px;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 64px 32px;
    }

    &__group {
        @include display-flex($direction: column, $justify: start);
        gap: 64px;
        padding: 64px;
        container-name: meals;
        container-type: inline-size;

        h2 {
            grid-area: title;
            text-align: center;
            color: $clr-primary-text;
        }

        .meals {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 64px;
            row-gap: 8px;

            @container meals (max-width: 375px) {
                grid-template-columns: 1fr;
            }

            p {
                text-align: center;
                color: $clr-primary-text;
                white-space: nowrap;
            }
        }
    }

    &__green {
        background-color: rgba($brand-color, 0.85);
    }

    &__blue {
        background-color: rgba($secondary-brand-color, 0.85);
    }
}
