@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;

.preparations {
    background-image: url("../../assets/louis-hansel-MlPD-AzZYMg-unsplash.png");
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 128px 32px;

    &__group {
        display: grid;
        grid-template-areas:
            "title title"
            "left right";
        justify-content: center;
        gap: 16px;
        opacity: 0.85;

        h2 {
            font-size: $size * 2;
            grid-area: title;
            justify-self: center;
            align-self: center;
            color: $white;
        }

        p {
            text-align: center;
            color: $white;
        }

        .meals__left {
            grid-area: left;
        }

        .meals__right {
            grid-area: right;
        }
    }

    &__green {
        background-color: $brand-color;
    }

    &__blue {
        background-color: $secondary-brand-color;
    }
}
