.button {
    @extend %button;
    font-size: calc($size * 1.2);
}

.button-invert {
    background-color: $clr-primary-text;
    color: $brand-color;
}

.nav__button {
    font-size: $size;
    padding: 8px 24px;
}
