.button {
    font-size: calc($size * 1.2);
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 12px 32px;
    cursor: pointer;
    background-color: $brand-color;
    color: $white;
}

.button-invert {
    background-color: $white;
    color: $brand-color;
}

.nav__button {
    font-size: $size;
    padding: 8px 24px;
}
